stages:
  - build
  - deploy

variables:
  IMAGE_NAME: registry.gitlab.com/<your-username>/flask-terraform-cicd/flask-demo

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  only:
    - main

deploy:
  stage: deploy
  image: hashicorp/terraform:1.6.0
  script:
    - cd terraform
    - terraform init
    - terraform apply -auto-approve -var="docker_image=$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
  only:
    - main
